.body-container{
  background: #333333;
  width: 100%;
  height: 70vw;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.body-title{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.body-title span{
  color: #ff0000;
}

.body-form{
  background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/1309758-calculadora-na-mesa-gr%C3%A1tis-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  width: 90%;
  height: 600px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.body-form .form-wrapper {
  width: 70%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.486);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-form .form-wrapper div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.body-form .form-wrapper div label {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 900;
}

.body-form .form-wrapper select {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.body-form .form-wrapper #select-para {
  padding: 5px 40px;
  border-radius: 5px;
}

.body-form .form-wrapper input {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
}

.body-form .form-wrapper h2 {
  color: #ff0000;
}

